<footer class="container-fluid border-top d-flex align-items-center">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center py-3">
        <div class="flex-fill">
            <a class="navbar-brand" href="/"> <img src="assets/images/logo-s.png" alt="Logo" width="70" height="70"
                    class="d-inline-block align-text-top">
            </a>
        </div>

        <div class="py-3 flex-fill d-flex flex-column flex-md-row justify-content-around text-center px-5">
            <a class="nav-link" href="/">Inici</a>
            <a class="nav-link" href="participants.html">Participants</a>
            <a class="nav-link" href="article.html">Article 1</a>
            <a class="nav-link" href="inscripcio.html">Inscripcio</a>
        </div>

        <div class=" flex-fill d-flex mt-2 justify-content-around justify-content-md-end gap-5 gap-md-4">
            <a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a class="nav-link ms-2" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="nav-link ms-2" href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>
</footer>