<footer class="py-8 border-t-2 border-teal-500">
    <div class="container mx-auto flex justify-center md:justify-between flex-col md:flex-row">
        <div>
            <a class="flex justify-center" href="/"> <img src="assets/images/logo-s.png" alt="Logo" width="70" height="70"
                    class="d-inline-block align-text-top">
            </a>
        </div>

        <div class="flex space-x-4 mb-2 md:mb-0 justify-center items-center me-2">
            <a class="nav-link" href="/">Inici</a>
            <a class="nav-link" href="/">Participants</a>
            <a class="nav-link" href="inscripcio.html">Inscripcio</a>
        </div>

        <div class=" flex space-x-6 5mb-2 md:mb-0 justify-center items-center me-2">
            <a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a class="nav-link ms-2" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="nav-link ms-2" href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>
</footer>