<header>
    <nav class="navbar navbar-expand-lg bg-body-none border-bottom">
        <div class="container">
            <a class="navbar-brand" href="/"> <img src="assets/images/logo-s.png" alt="Logo" width="70" height="70"
                    class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav text-center">
                    <a class="nav-link" href="/participants">Participants</a>
                    <a class="nav-link" href="/article">Article 1</a>
                    <a class="nav-link" href="/inscripcio">Inscripcio</a>
                </div>
            </div>
        </div>
    </nav>
</header>