<header>
    <nav class="py-8 border-b-2 border-gray-500">
        <div class="container mx-auto flex justify-center md:justify-between flex-col md:flex-row">
            <a class="flex justify-center" href="/"> <img src="assets/images/logo-s.png" alt="Logo" width="70"
                    height="70" class="d-inline-block align-text-top">
            </a>
            <div class="flex space-x-4 mb-2 md:mb-0 justify-center items-center me-2">
                <a href="/participants">Participants</a>
                <a href="/article">Article 1</a>
                <a href="/inscripcio">Inscripcio</a>
            </div>
        </div>
    </nav>
</header>